.box {
  width: 60%;
  margin: 50px auto 0;
  font-family: 'Roboto', sans-serif;
}

.descriptionBox {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 30px
}

.description {
  text-align: center;
  flex-grow: 3;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 500;
  border: 1px dashed grey;
  border-top: none;
  border-radius: 20px;
}

.title {
  font-size: 30px;
  font-weight: 500;
  border: 2px solid rgb(131, 95, 95);
  border-radius: 20px;
  padding: 10px;
  margin-bottom: 15px;
}

.dateTime, .organiser, .details {
  padding: 10px;
  margin: 5px auto;
  color: #1e0055;
}

.dateTime {
  color: #1100319a;
}

.photo {
  width: 100%
}

.participants {
  text-align: left;
  font-weight: 300;
  font-size: 20px;
}

.participantsTitle {
  margin-top: 15px;
}

.userItem {
  padding: 5px;
}