.buttonWrapper {
  width: 40%;
  margin: 15px auto;
}

.title {
  font-size: 25px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  margin-top: 20px;
}

.hr {
  margin: 30px 50px;
  border-top: 5px grey;
  border-style: none none dotted;
}